<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GUANO Metadata Web Validator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body>
    <div class="container-fluid">

      <div id="content">
        {% block content %}{% endblock %}
      </div>

      <footer class="footer navbar-fixed-bottom">
        <p class="text-muted"><a href="https://github.com/riggsd/guano-web-validator">GUANO Web Validator</a> version {{ validator_version }} &nbsp; / &nbsp; <a href="https://github.com/riggsd/guano-py/">GUANO-Py</a> version {{ guano_version }}</p>
      </footer>

    </div>
  <body>

</html>
